header {
    background-color: #ABADB1;
}

html, body {
    margin: 0; 
    padding: 0;
}

div {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

input {
    font-size: .5em;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

h1 {
    font-size: 2em;
    position: absolute;
    left: 150px;
    top: 10px;
}

span {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: .5em;
}


button {
    background-color: #4F7562;
    color: white;
    padding: 15px 15px 15px 15px;
    border: none;
    font-size: .5em;
    border-radius: 20px;
}

/* . */

.negative {
    color: red;
}

/* # */

#logo {
    width: 25%;
    height: auto;
    color: white;
    padding-top: 10px;
    padding-left: 5px;
    text-align: left;
    margin-bottom: 5px;
}

#timerBox {
    margin-left: 10px;
}

#time1,#time2,#time3,#time4 {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

@media screen and (min-width: 900px) {
    #logo {
        width: 7%;
    }
    #time1,#time2,#time3,#time4 {
        font-size: 2em;
    }

    span,input,button {
        font-size: .5em;
    }

    button {
        margin-left: 10px;
    }

    h1 {
        position: absolute;
        left: 150px;
        top: 20px;
    }
}